0.490              # Expansion Parameter
0.                 # Lower azimuthal angle limit
90.                # Upper azimuthal angle limit
0.                 # Lower impact parameter limit
100.               # Upper impact parameter limit
0.                 # Lower inclination angle limit
90.                # Upper inclination angle limit
############
MgII
CIV
OVI
